@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
}

header {
  background: #a3e635;
}

.navbar {
  width: 1280px;
  height: 45px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.navbar ul {
  height: inherit;
  display: flex;
  align-items: center;
  gap: 8px;
}

ul {
  list-style-type: none;
}

.navbar ul a {
  text-decoration: none;
}

ul a i {
  font-size: 1.8rem;
  color: #fff;
  padding: 5px;
}

ul a i:hover {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 4px;
}

.search-container {
  height: 30px;
  min-width: 220px;
  padding: 5px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  border-radius: 4px;
}

input[type=text] {
  opacity: 0.4;
  padding: 7px 10px 7px 0;
  outline: none;
  border: none;
  border-radius: 4px;
  cursor: text;
}

.search-todo:focus {
  width: 400px;
}

main {
  display: flex;
  flex: 1;
}

.sidebar {
  background: #f7fee7;
  width: 335px;
  flex-shrink: 0;
}

.container {
  padding: 5px 5px 5px 45px;
  margin-top: 30px;
}

.section {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  font-size: 1.5rem;
  border-radius: 6px;
}

.section div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.section span {
  font-size: 1.3rem;
  color: #555;
}

.section-active,
.section:hover {
  background: #eee;
  cursor: pointer;
}

.today {
  margin-bottom: 50px;
}

.projects {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-size: 1.5rem;
  border-radius: 6px;
}

.projects>div {
  height: inherit;
  display: flex;
  align-items: center;
  gap: 10px;
}

.projects h2 {
  font-size: 1.5rem;
}

.projects>i {
  padding: 8px;
  border-radius: 4px;
}

.projects .fa-plus:hover {
  background: #eee;
  cursor: pointer;
}

.container-projects {
  display: none;
  overflow: auto;
  font-size: 1.5rem;
  height: 220px;
}

.container-projects .project {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
}

.project div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.project:hover {
  background: #eee;
  cursor: pointer;
}

.project .fa-trash-can {
  cursor: pointer;
}

#show-projects {
  cursor: pointer;
}

/*

Main content 

*/

.content {
  width: 100%;
  padding: 30px 0;
}

.task-container {
  width: 75%;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

button.add-task {
  text-align: start;
  padding: 10px 0;
  background: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1.5rem;
}

button.add-task:hover {
  color: #84cc16;
}

.task {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #a3a3a3;
  border-radius: 6px;
  margin-bottom: 15px;
}

.task input[type=checkbox] {
  width: 18px;
  height: 18px;
  accent-color: white;
  cursor: pointer;
  border: 1px solid #333;
}

.task div {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 10px;
}

.task-description-card {
  font-size: 1.4rem;
}

.task i {
  padding: 5px;
  font-size: 1.7rem;
  color: #333;
  border-radius: 4px;
}

.task i:hover {
  background: #eee;
  cursor: pointer;
}

.form-task-card,
.form-update-task {
  display: none;
}

form .task-card {
  border: 1px solid #a3a3a3;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.task-card input[type=text] {
  padding: 5px 0;
  border: none;
  outline: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

textarea {
  resize: none;
  height: 40px;
  border: none;
  outline: none;
  font-family: 'Poppins', sans-serif;
  padding: 5px 0;
}

.selectors {
  display: flex;
  justify-content: space-between;
}

input[type=date] {
  padding: 1px;
  font-family: 'Poppins', sans-serif;
  margin-right: 5px;
  cursor: pointer;
  outline: none;
}

input[type=date]:hover {
  background: #eee;
  border: 1px solid #333;
}

select {
  font-family: 'Poppins', sans-serif;
  padding: 3px;
  outline: none;
}

select:hover {
  background: #eee;
  cursor: pointer;
}

.buttons-card {
  display: flex;
  justify-content: end;
  gap: 10px;
  margin: 10px 0;
}

.buttons-card button {
  padding: 5px;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  width: 80px;
}

button.btn-cancel,
button.btn-cancel-project,
button.btn-cancel-update {
  background: #f7fee7;
  border: 1px solid #eee;
  border-radius: 6px;
}

button.btn-add,
button.btn-save {
  background: #a3e635;
  color: #fff;
  border-radius: 6px;
  border: 1px solid #a3e635;
}

/*

Add task from navbar 

*/

.container-fixed {
  width: 100%;
  height: 55%;
  position: fixed;
  display: none;
}

.container-fixed form {
  width: 600px;
  padding: 15px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.4);
}

.container-fixed .task-card {
  border: none;
}

/*
Add project form
*/

.container-add-project {
  width: 100%;
  height: 65%;
  position: fixed;
  display: none;
}

.container-add-project form {
  width: 400px;
  height: 160px;
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.4);
  font-family: 'Poppins', sans-serif;
  font-size: 1.8rem;
  gap: 5px;
}

.container-add-project input[type=text] {
  padding: 6px;
  font-size: 1.8rem;
  outline: none;
  border: 1px solid #333;
  border-radius: 6px;
}

.show-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-hidden {
  display: none;
}

.show-content {
  display: block;
}

.search-todos-container {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  position: absolute;
  top: 50px;
  left: 115px;
  width: 435px;
  min-height: 50px;
  max-height: 200px;
  padding: 10px;
  border: 1px solid #333;
  border-radius: 5px;
  overflow-y: auto;
}

.search-todos-container .todo-searched {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  cursor: pointer;
  min-width: 400px;
  height: 30px;
  padding: 5px;
  border-radius: 4px;
}

.recently-searched {
  padding: 5px;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
}

.not-visible {
  display: none;
}

.todo-searched:hover {
  background-color: #eee;
}

.todo-searched-project {
  display: flex;
  min-width: 50px;
  justify-content: space-between;
  align-items: center;
}

.todo-searched-project>p {
  margin-left: 5px;
}